.container-fluid{
    background-image: url('images/rectangle_1.jpg');
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;

    width: 100%;
}

/* #b{
    margin: auto;
    float: right;
    padding: 0px 0px;
} */

a{
    color: white;
    
    
   
}
li{
    padding-left: 30px;
    
    
}
  /* a::after
  a::before{
      text-decoration: underline;
  } */
  
  li{
      display: inline-block;
      
      
  }
  
  a:hover {
    
    text-decoration: underline ; 
    color: white;
    text-decoration-color: red; 
   
    
    /* border-bottom: 2px solid rgb(231, 20, 20);
     */
    
    
  }
  
  a:active {
    text-decoration: underline;
   
  
  }
  #box{
      margin-top: 102px;
      height: 400px;
  }
  
  #navbarNav{
      margin-top: 34px;
      margin-left: 20px;
  }
  #kal{
    margin-top: 34px;
    color: white;
   
    padding-left: 152px;
    text-align: center;
  }
  .kall{
      font-size: 22px;
  }
  span{
      color: red;
  }
  .help{
      text-align: center;
      margin-top: 40px;
      font-size:38px ;
      color: white;
  }
  .dumy{
      text-align: center;
      color: white;
      padding: 21px 428px;
  }
  .btn {
    font-size: 18px;
    color: white;
    padding: 10px 43px;
    border: 2px solid #FB414E;

    text-align: center;
}
#twobtn{
  margin: auto;
   
}
.btn:hover{
    color: white;
    background:#FB414E; 
}
#box1{
    background-color: #fb414e;
    width: 268px;
    height: 268px;
    
}
#box2{
    background-color:#202B30;
    color: white;
    margin-left: 25px;
    width: 268px;
    height: 268px;
    
}
.concept{
    margin-top: 10px;
}
#box2 img{
    height: 50px;
    width: 50px;
    margin-top: 50px;
    margin-left: 20px;
}
#box1 img{
    height: 50px;
    width: 50px;
    margin-top: 50px;
    margin-left: 20px;
}
.design{
    margin-top: 40px;
    margin-left: 20px;
   

}
hr.new4{
    background-color: white;
    width: 20%;
   
   margin-left: 20px;
}
  
.lorem{
    margin-top: 20px;
    margin-left: 20px;
}
#box2 img{
    height: 50px;
    width: 50px;
    margin-top: 50px;
    margin-left: 20px;
}
.service{
    text-align: center;
}
#servicetotal{
    margin-top:64px;
}
.service{
    margin-top: 50px;
   
}


  

 